:root {
  --shadow-color: #55537a 
}
body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#display {
  width: 400px;
}

.drum-pad {
  width: 100px;
  height: 50px;
  -webkit-box-shadow: 3px 0px 5px 0px var(--shadow-color); 
  box-shadow: 3px 0px 5px 0px var(--shadow-color);
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  color: white;
}

.drum-pad:hover {
  cursor: pointer;
}

.description {
  width: 100px;
  height: 50px;
  -webkit-box-shadow: 3px 0px 5px 0px var(--shadow-color); 
  box-shadow: 3px 0px 5px 0px var(--shadow-color);
}
