body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
}

.calculator {
  width: 320px;
  height: 390px;
  background-color: grey;
  padding: 0;
}

.display-wrapper {
  margin-top: 3px;
  padding: 0;
}

.formula, .display {
  background-color: beige;
  width: 314px;
  height: 30.75px;
}

.display {
  margin-bottom: 1.5px;
}

.button {
  background-color: rgb(50, 60, 80);
  color: white;
  width: 76.25px;
  height: 61.5px;
  margin: 1.5px;
  padding: 0;
}

#clear, #zero, #equals {
  width: 155.5px;
}

#clear {
  background-color: rgb(156, 6, 6);
}

#equals {
  background-color: rgb(40, 66, 146);
}

